---
title: "CSS Core"
---

@import 'mixins'
@import 'reset'
@import 'layout'

body
  margin: 50px
  background: #333
  font-family: 'Helvetica Neue', Helvetica, Arial

h1
  font-size: 42px
  font-weight: bold
  color: #999

p
  font-weight: bold
  color: #666