---
title: "CSS Core"
---

@import 'mixins'
@import 'reset'
@import 'layout'

article
  display: block
  position: relative
  margin: 0 0 80px 0
  h1
    display: block
    margin-bottom: 24px
    margin-left: 100px
    font-size: 36px
    a
      text-decoration: none
      color: #000
      &:hover
        color: #14b56f
  h2
    position: absolute
    left: 0
    top: 0
    font-weight: bold
    text-transform: lowercase
    background: #000
    color: #fff
    padding: 4px 5px 4px 51px
    text-align: right
    font-size: 12px
    b
      display: block
      font-size: 16px
  &.shannon h2
    border-right: 5px solid #a7be36
  &.cameron h2
    border-right: 5px solid #56afd2
      
  .copy
    margin-left: 100px
    h1
      font-size: 26px
    h2
      font-size: 20px
    h3
      font-size: 16px
    p
      color: #373737
      font-size: 14px
      line-height: 22px
      img
        margin-left: -10px
    a
      text-decoration: none
      color: #f26d2e
      &:hover
        text-decoration: underline
    ul
      font-size: 14px
      padding: 0 40px
      li
        list-style-type: disc
        line-height: 22px
        color: #373737
    blockquote
      padding: 20px 20px 0 20px
      margin-bottom: 20px
      font-style: italic
      font-family: georgia
      background: rgba(255,255,255,.5)
      border: 1px solid #fccf30
    b, strong
      font-weight: bold
    i, em
      font-style: italic
      font-family: georgia
    h1, h2, h3, p, ul
      margin: 0 0 22px 0
  .meta
    overflow: hidden
    .author
      float: left
      font-style: italic
      font-family: Georgia, serif
      font-size: 14px
    a
      display: block
      float: right
      font-size: 11px
      color: #000
      text-decoration: none
      &:hover
        text-decoration: underline

nav.next_articles,
nav.previous_articles
  margin: 0 0 40px 100px
  line-height: 22px
  h3
    font-size: 20px
    margin: 0 0 20px 0
  ul
    li
      b
        font-size: 11px
      a
        text-decoration: none
        &.shannon
          color: #a7be36
        &.cameron
          color: #56afd2
        &:hover
          text-decoration: underline

nav.previous_articles
  ul li a
    color: #f26d2e

section#disqus_thread
  padding-top: 40px
  margin-left: 100px
  #dsq-content
    div#dsq-global-toolbar,
    div.dsq-options,
    td.dsq-request-user-stats,
    div#dsq-pagination,
    div#dsq-comments-title
      display: none
    div#dsq-new-post
      background: none
    h3
      font-size: 20px
      margin: 0 0 20px 0
    .dsq-full-comment
      margin: 0 0 40px 0
    .dsq-comment-body
      margin: 0 20px
      color: 373737
    a
      text-decoration: none
      color: #2f97c0
      &:hover
        text-decoration: underline
