%article
  %h1
    =link_to(@item[:title], @item.path)
  %h2
    =Time.parse(@item[:date_created]).strftime('%b')
    %b
      =Time.parse(@item[:date_created]).strftime('%d')
  .copy
    =yield
    .meta
      .author
        &#8212;
        =@item[:author]
      %a(href="#") 0 comments