%article
  %h1
    =link_to(@item[:title], @item.path)
  %h2
    =Time.parse(@item[:created_at]).strftime('%b')
    %b
      =Time.parse(@item[:created_at]).strftime('%d')
  .copy
    =yield
    .meta
      .author
        &#8212;
        =@item[:author]
      =link_to('Permalink', @item.path + '#disqus_thread')