%footer
  %p.production
    Production
    %br
    & Copyright 2011 Shannon
    %br
    and Cameron Daigle
  %p.arrival
    Est. Arrival
    %br
    Feb 14, 2011
  %p.title
    Working Title
    %br
    TBD

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-308731-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

:javascript
  var disqus_shortname = 'thenewdaigle';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = 'http://disqus.com/forums/thenewdaigle/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
