%footer
  %p.production
    Production
    %br
    & Copyright 2011 Shannon
    %br
    and Cameron Daigle
  %p.arrival
    Project Arrival
    %br
    Feb 14, 2011
  %p.title
    Working Title
    %br
    TBD